{% extends 'base.html' %}

{% block order_active %} active {% endblock %}

{% block title %} Order {% endblock %}

{% block content %}
<hr>
<h3>Đặt hàng</h3>
<hr>
<!--Table show all product in a database-->
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID sản phẩm</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá($)</th>
            <th scope="col">Giảm giá(%)</th>
            <th scope="col">Danh mục</th>
            <th scope="col">Loại</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ product.product_id }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.discount }}</td>
            <td>{{ product.category.category }}</td>
            <td>{{ product.category }}</td>
            <td>
                <button type="button" id="addToCartBtn" onclick="addToCart(this.value)" value="{{ product.product_id }}"
                    class="btn btn-deep-orange" data-toggle="modal" data-target="#cart"><i class="fas fa-cart-plus"></i>
                    Thêm vào giỏ hàng
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Cart -->
<div class="modal fade right" id="cart" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Giỏ hàng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 style="font-size: 20px; text-align: center;">SẢN PHẨM</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Mã sản phẩm</th>
                            <th scope="col">Số lượng</th>
                        </tr>
                    </thead>
                    <tbody id="cartBody">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#fill-info">
                    Thanh toán
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tiếp tục mua</button>
            </div>
        </div>
    </div>
</div>

<!-- Fill information modal -->
<div class="modal fade right" id="fill-info" tabindex="-1" role="dialog" aria-labelledby="orderModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModal">Đơn đặt hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'minor_app:ordered' %}" method="POST">
                    {% csrf_token %}
                    <div class="hiddenProductId" hidden></div>
                    <div class="hiddenQuantity" hidden></div>
                    <!-- Customer -->
                    <h4 style="font-size: 20px; text-align: center">KHÁCH HÀNG</h4>
                    <div class="md-form input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-default"> Họ và tên
                            </span>
                        </div>
                        <input type="text" name="customer_name" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroupMaterial-sizing-default" required>
                    </div>

                    <div class="md-form input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-default"> Số điện
                                thoại </span>
                        </div>
                        <input type="number" name="number_phone" class="form-control"
                            aria-describedby="inputGroupMaterial-sizing-default">
                    </div>
                    <label for="#nation"> Quốc gia </label>
                    <select class="browser-default custom-select" id="nation" name="country_pk" required>
                        <option selected disabled>----------</option>
                        {% for country in countries %}
                        <option value="{{ country.country_code }}">{{ country }}</option>
                        {% endfor %}
                    </select>
                    <hr>
                    <label for="#states"> Tiểu bang(Thành phố) </label>
                    <select class="browser-default custom-select" id="states" name="state_id" required>
                        <option selected disabled>----------</option>
                    </select>
                    <hr>
                    <label for="#cities"> Thành phố (Quận)</label>
                    <select class="browser-default custom-select" id="cities" name="city_id" required>
                        <option selected disabled>----------</option>
                    </select>
                    <hr>
                    {{ ship_form }}
                    <hr>
                    <label for="#segment"> Phân khúc khách hàng</label>
                    <select class="browser-default custom-select" id="segment" name="segment_id" required>
                        <option selected disabled>----------</option>
                        {% for segment in segments %}
                        <option value="{{ segment.id }}">{{ segment }}</option>
                        {% endfor %}
                    </select>
                    <hr>
                    <label for="#delivery-date">Ngày vận chuyển dự kiến</label>
                    <input type="text" id="delivery-date" name="ship_date" class="form-control" readonly required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-warning">Hoàn tất</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block more_script %}
<script>
    var productIDArray = [];
    var productQuantityArray = [];
    refreshDataFromServer();

    function addBtnHandler(indexValue){
        let quantity = parseInt($('#quantityInput' + indexValue).val(), 10);
        quantity += 1;
        $('#quantityInput' + indexValue).val(quantity);
        $('.hiddenQuantity #quantityInput' + indexValue).val(quantity);
        if (quantity >= 12) {
            $('#addBtn'+indexValue).attr('disabled', true);
        }
        $('#minusBtn'+indexValue).attr('disabled', false);
        productQuantityArray[indexValue] = String(quantity);
        refreshDataFromServer();     
    }

    function minusBtnHandler(indexValue){
        let quantity = parseInt($('#quantityInput' + indexValue).val(), 10);
        quantity -= 1;
        $('#quantityInput' + indexValue).val(quantity);
        $('.hiddenQuantity #quantityInput' + indexValue).val(quantity);
        if (quantity == 0) {
            $('#minusBtn'+indexValue).attr('disabled', true);
        }
        $('#addBtn'+indexValue).attr('disabled', false);

        productQuantityArray[indexValue] = String(quantity);
        refreshDataFromServer();
    }

    function addAnItemToCart(product_id, quantity="1"){
        let index = productIDArray.findIndex(function(id){
            return id === product_id;
        });
        //neu chua tim thay
        if (index === -1){
            productIDArray[ productIDArray.length ] = product_id;
            productQuantityArray[ productQuantityArray.length ] = quantity;
        }else{
            productQuantityArray[index] = String(parseInt(productQuantityArray[index]) + 1);
        }
    }

    function addToCart(product_id) {
        $('#cartBody').html("");
        addAnItemToCart(product_id);
        refreshDataFromServer();
        let size = productIDArray.length;
        let items = "", products_id = "", products_quan = "";
        for(let index = 0; index < size; index++){
            products_id += '<input type="text" name="productIds" id="product" ' + 'value="' + productIDArray[index] + '"' +
            '                                   aria-describedby="inputGroupMaterial-sizing-default">  ';
            products_quan += '<input style="width: 30%" type="text" class="btn btn-sm" value="0" name="quantitys" id="quantityInput' + index + '"/>  ';
            items += '   <tr>  ' +
            '                               <td> ' +  productIDArray[index] + ' </td> ' +
            '                               <td>  ' +
            '                                   <div class="btn-group" role="group">  ' +
            '                                       <button type="button" id="minusBtn' + index + '" onclick="minusBtnHandler(this.value)" class="btn btn-sm" value="' + index + '"><i class="fas fa-minus"></i></button>  ' +
            '                                       <input style="width: 30%" readonly type="text" class="btn btn-sm" value="' + productQuantityArray[index] + '" id="quantityInput' + index + '"/>  ' +
            '                                       <button type="button" id="addBtn' + index + '" onclick="addBtnHandler(this.value)" class="btn btn-sm" value="' + index + '"><i class="fas fa-plus"></i></button>  ' +
            '                                   </div>  ' +
            '                               </td>  ' +
            '                  </tr>  ';
        }
        $('.hiddenProductId').html(products_id);
        $('.hiddenQuantity').html(products_quan);
        $('#cartBody').html(items);
    }

    function refreshDataFromServer(){
        $.ajax({
            url: "{% url 'minor_app:save_to_session' %}",
            method: 'GET',
            data:{
                'productIDArray': JSON.stringify(productIDArray),
                'productQuantityArray': JSON.stringify(productQuantityArray)
            },
            success: function(data){
                productIDArray = [];
                productQuantityArray = [];
                let size = data['productID'].length;
                for(let i = 0; i < size; i++){
                    addAnItemToCart(data['productID'][i], data['quantity'][i]);
                }
                console.log(productIDArray)
                console.log(productQuantityArray)
            }
        });
    }

    // ajax request for states in each nation
    $('#nation').change(function () {
        var country_pk = $('#nation').val();
        $.ajax({
            url: "{% url 'minor_app:load_states' %}",
            method: 'GET',
            data: {
                'country_pk': country_pk,
            },
            dataType: 'json',
            success: function (data) {
                str_option = "";
                if (data['length'] == 0) {
                    $('#states').html("");
                    return;
                }
                for (let index = 0; index < data['length']; index++) {
                    str_option += "<option value='" + String(data['result'][index]['id']) + "'>" + String(data['result'][index]['state_name']) + "</option>";
                    $('#states').html(str_option);
                }
            },
        });
    });
    // ajax request for cities in each state
    $('#states').change(function () {
        var state_id = $('#states').val();
        $('#cities').html("");
        $.ajax({
            url: "{% url 'minor_app:load_cities' %}",
            method: 'GET',
            data: {
                'state_id': state_id,
            },
            dataType: 'json',
            success: function (data) {
                $.each(data['cities'], function (index, value) {
                    $('#cities').append("<option value='" + String(value['id']) + "'>" + String(value['city_name']) + "</option>")
                });
            }
        });
    });
    // request change delivery date from ship mode
    $('#ship-mode').change(function () {
        var ship_mode = $(this).val();
        $('#delivery-date').html("");
        $.ajax({
            url: "{% url 'minor_app:load_delivery_date' %}",
            method: 'GET',
            data: {
                'ship_mode': ship_mode
            },
            dataType: 'json',
            success: function (data) {
                $('#delivery-date').val(data['delivery_date']);
            }
        });
    });
</script>
{% endblock more_script %}