{% extends 'base.html' %}

{% block order_active %} active {% endblock %}

{% block title %} Order {% endblock %}

{% block content %}
<hr>
<h3>Đặt hàng</h3>
<hr>
<!--Table show all product in a database-->
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">ID sản phẩm</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Giá($)</th>
        <th scope="col">Giảm giá(%)</th>
        <th scope="col">Danh mục</th>
        <th scope="col">Loại</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ product.product_id }}</td>
        <td>{{ product.product_name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.discount }}</td>
        <td>{{ product.category.category }}</td>
        <td>{{ product.category }}</td>
        <td>
            <!--Deep-orange-->
            <button type="button" class="btn btn-deep-orange"><i class="fas fa-cart-plus"></i>
                Thêm vào giỏ hàng
            </button>
            <!-- Button trigger modal -->
            <!-- <button type="button" value="{{ product.product_id }}" onclick="buy(this.value)"
                    class="btn btn-warning" data-toggle="modal" data-target="#fill-info">
                Đặt hàng
            </button> -->
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="fill-info" tabindex="-1" role="dialog" aria-labelledby="orderModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModal">Đơn đặt hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'minor_app:ordered' %}" method="POST">
                    {% csrf_token %}
                    <!-- Product -->
                    <h4 style="font-size: 20px; text-align: center;">SẢN PHẨM</h4>
                    <br>
                    <label for="#product">Mã sản phẩm</label>
                    <input type="text" name="product_id" id="product" class="form-control"
                           aria-describedby="inputGroupMaterial-sizing-default" readonly>
                    <hr>
                    <label for="#quantity">Số lượng: <span id="changeQuantity">1</span></label>
                    <input type="range" min="1" id="quantity" name="quantity" value="1"
                           oninput="sliderChange(this.value)" class="form-control" required>
                    <!-- Customer -->
                    <hr>
                    <h4 style="font-size: 20px; text-align: center">KHÁCH HÀNG</h4>
                    <div class="md-form input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon"
                                  id="inputGroupMaterial-sizing-default"> Họ và tên </span>
                        </div>
                        <input type="text" name="customer_name" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroupMaterial-sizing-default" required>
                    </div>

                    <div class="md-form input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-default"> Số điện thoại </span>
                        </div>
                        <input type="number" name="number_phone" class="form-control"
                               aria-describedby="inputGroupMaterial-sizing-default">
                    </div>
                    <label for="#nation"> Quốc gia </label>
                    <select class="browser-default custom-select" id="nation" name="country_pk" required>
                        <option selected disabled>----------</option>
                        {% for country in countries %}
                        <option value="{{ country.country_code }}">{{ country }}</option>
                        {% endfor %}
                    </select>
                    <hr>
                    <label for="#states"> Tiểu bang(Thành phố) </label>
                    <select class="browser-default custom-select" id="states" name="state_id" required>
                        <option selected disabled>----------</option>
                    </select>
                    <hr>
                    <label for="#cities"> Thành phố (Quận)</label>
                    <select class="browser-default custom-select" id="cities" name="city_id" required>
                        <option selected disabled>----------</option>
                    </select>
                    <hr>
                    {{ ship_form }}
                    <hr>
                    <label for="#segment"> Phân khúc khách hàng</label>
                    <select class="browser-default custom-select" id="segment" name="segment_id" required>
                        <option selected disabled>----------</option>
                        {% for segment in segments %}
                        <option value="{{ segment.id }}">{{ segment }}</option>
                        {% endfor %}
                    </select>
                    <hr>
                    <label for="#delivery-date">Ngày vận chuyển dự kiến</label>
                    <input type="text" id="delivery-date" name="ship_date" class="form-control" readonly required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-warning">Hoàn tất</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block more_script %}
<script>
        function sliderChange(value){
            document.getElementById('changeQuantity').textContent = value;
        }

        function buy(product_id){
            document.getElementById('product').value = product_id;
        }

        // ajax request for states in each nation
        $('#nation').change(function(){
            var country_pk = $('#nation').val();
            $.ajax({
                url: "{% url 'minor_app:load_states' %}",
                method: 'GET',
                data: {
                    'country_pk': country_pk,
                },
                dataType: 'json',
                success: function(data){
                    str_option = "";
                    if (data['length'] == 0){
                        $('#states').html("");
                        return;
                    }
                    for (let index = 0; index < data['length']; index++) {
                        str_option += "<option value='" + String(data['result'][index]['id']) + "'>" + String(data['result'][index]['state_name']) + "</option>";
                        $('#states').html(str_option);
                    }
                },
            });
        });
        // ajax request for cities in each state
        $('#states').change(function(){
            var state_id = $('#states').val();
            $('#cities').html("");
            $.ajax({
                url: "{% url 'minor_app:load_cities' %}",
                method: 'GET',
                data:{
                    'state_id': state_id,
                },
                dataType:'json',
                success: function(data){
                    $.each(data['cities'], function(index, value){
                        $('#cities').append("<option value='" + String(value['id']) + "'>" + String(value['city_name']) + "</option>")
                    });
                }
            });
        });
        // request change delivery date from ship mode
        $('#ship-mode').change(function(){
            var ship_mode = $(this).val();
            $('#delivery-date').html("");
            $.ajax({
                url: "{% url 'minor_app:load_delivery_date' %}",
                method: 'GET',
                data:{
                    'ship_mode': ship_mode
                },
                dataType: 'json',
                success: function(data){
                    $('#delivery-date').val(data['delivery_date']);
                }
            });
        });

</script>
{% endblock more_script %}